<!-- <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Hello!</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <div class="input-field col s12">
          <form>

          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Materialize Select</label>
          <button type="submit" class="btn btn-primary mb-2 form-control-lg">search..</button>
          </form>
        </div>

      </div>
      <br><br>

    </div>
  </div>

</div>
 -->

<h2>Cameras</h2>
<ul class="collapsible">
  <% @brands.each do |brand| %>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">camera_alt</i>
      <%= brand.title %>
      <span class="badge blue"><%= brand.variants.count %></span>
    </div>
    <div class="collapsible-body">

      <ul class="collapsible">
        <% brand.variants.each do |variant| %>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">camera</i>
            <%= variant.title %>
            <span class="badge blue"><%= variant.softwares.count %></span>
          </div>
          <div class="collapsible-body">

            <div class="collection">
              <% variant.softwares.each do |firmware| %>
              <a href="<%= firmware_path(firmware.id) %>" class="collection-item">
                <i class="material-icons">send</i>
                <%= firmware.title %>
              </a>
              <% end %>
            </div>

          </div>
        </li>
        <% end %>
      </ul>


    </div>
  </li>
  <% end %>
</ul>
